@import "./variables.scss";

.back-color {
  background-color: $Frame-Background;
}

.img-back-col {
  background-color: $blue-50;
}

.img-adg {
  width: 100%;
  height: 100%;
}

.card-width {
  width: 100%;
  height: auto;
}

.input-width {
  width: 80%;
  border-color: #636363;
  background-color: transparent;
}

.inputField {
  width: 100%;
  border-color: #636363;
  background-color: transparent;
}

.login-btn {
  width: 80%;
  border-radius: 3.125rem;
  background-color: $blue-500;
  color: $White;
  font-size: $font-size-h4;
  font-weight: $font-weight-bold;
}

.contct-link {
  color: $blue-500;
}

.contact-word {
  color: $text-color-900;
}

.forget-pass {
  color: $blue-500;
  text-decoration: none;
}

@media screen and (min-width: 61.9375rem) and (max-width: 87.5rem) {
  .input-width {
    width: 100%; // Adjust the width as needed
    max-width: 23rem; // Adjust the max-width as needed
    margin: 0 auto; // Center the input horizontally
  }
  .inputField {
    width: 100%;
    max-width: 25rem; // Adjust the max-width as needed
    margin: 0 auto; // Center the input horizontally
  }
}

@media screen and (min-width: 48rem) and (max-width: 61.875rem) {
  .input-width {
    width: 100%;
    max-width: 15.625rem; // Adjust the max-width as needed
    margin: 0 auto;
  }

  .inputField {
    width: 100%;
    max-width: 15.625rem; // Adjust the max-width as needed
    margin: 0 auto;
  }

  .login-btn {
    width: 80%; // You can adjust this based on your design
    max-width: 15.625rem; // Adjust the max-width as needed
    margin: 0 auto; // Center the button horizontally
  }
}

@media screen and (min-width: 500px) and (max-width: 766px) {
  .img-adg {
    display: none;
  }

  .input-width {
    width: 100%;
    max-width: 25rem; // Adjust the max-width as needed
    margin: 0 auto;
  }

  .inputField {
    width: 100%;
    max-width: 25rem; // Adjust the max-width as needed
    margin: 0 auto;
  }

  .login-btn {
    width: 80%; // You can adjust this based on your design
    max-width: 15.625rem; // Adjust the max-width as needed
    margin: 0 auto; // Center the button horizontally
  }
}
